*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
.container {
    width: 400px;
    margin: auto;
}
.from, .to {
    display: flex;
    gap: 20px;
    padding: 12px 22px;
    border-radius: 6px;
    border: 1px solid grey;
    margin-bottom: 10px;
}
.vertical-line {
    height: auto;
    width: 2px;
    background-color: black;

}
select {
    flex: 1;
    background-color: transparent;
}
input {
    width: 100px;
    background-color: transparent;
}
